ODOO_VERSION=17.0
POSTGRES_VERSION=15
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
DB_HOST=db
DB_PORT=5432
ADMIN_PASSWORD=admin
ADDONS_PATH=/mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons
LOG_LEVEL=info
WORKERS=0
LIMIT_TIME_CPU=120
LIMIT_TIME_REAL=240
PROXY_MODE=False
